/* .change-img {
	width: 200px;
	height: 200px;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.show-hover {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 100%;
	height: 100%;
	opacity: 0;
}

.change-img:hover .show-hover {
	opacity: 1;
}

.ant-space {
	width: 300px !important;
	height: 41px !important;
	background: white !important;
	border: 1px solid black !important;
} */
.dropdown {
	border: 1px solid #e4e4e4;
	height: 70px;
}

.text-dropdown {
	margin: 10px;
	font-size: 16px;
}
.dropdown-icon {
	padding-left: 195px;
}
.dropdown-space {
	width: 300px !important;
	height: 41px !important;
	background: #fff !important;
	border: 1px solid #e4e4e4;
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 1332px) {
	/* .Bienmat {
		display: none;
	} */

	.dropdown-icon {
		padding-left: 100px;
	}
	.dropdown-space {
		width: 200px !important;
	}
}

@media (max-width: 1495px) {
	.Bienmat {
		display: none;
	}
}

@media (max-width: 1122px) {
	/* .Bienmat {
		display: none;
	} */

	.dropdown-icon {
		padding-left: 50px;
	}
	.dropdown-space {
		width: 150px !important;
	}
}

@media (max-width: 1016px) {
	.dropdown-content {
		display: none;
	}
}
