.card-category-product {
	position: relative;
	padding: 0;
	margin-bottom: 16px;
}

.card-category-product {
	border-radius: 0 !important;
	margin-left: 0 !important;
	border: 1px solid #e4e4e4 !important;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.grid-color-category {
	display: flex !important;
	justify-content: center !important;
	margin-bottom: 15px;
	margin-top: 15px;
}

.hiking-img-product {
	border-radius: 0 !important;
	max-width: 100%;
}
