.home-layout {
	background-color: white;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
	color: black;
	width: 100%;
	padding-top: 60px;
}

.home {
	padding: 60px;
}

.home_left-col {
	padding-left: 30px;
}

.tenlist-bg {
	background-color: #fac012;
	height: 64px;
	display: flex;
	align-items: center;
}
.tenlist-title {
	margin-left: 20px;
	font-size: 24px;
}

.collections {
	display: flex;
	justify-content: space-between;
}

.footwear-shoes_image {
	display: flex;
	justify-content: center;
}
