.site-footer {
	background-color: white;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
	color: black;
	float: left;
	width: 100%;
	padding: 40px;
}

.footer {
	padding: 60px;
}
.site-footer .grid__item {
	padding: 0 20px;
}

.site-footer h4,
.site-footer .h4 {
	color: #000000;
	font-size: 22px;
	font-weight: 650;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 25px;
	letter-spacing: 1px;
	line-height: 1.4;
}

.site-footer__links a {
	color: black;
	float: left;
	display: inline-block;
	position: relative;
	list-style: none;
	padding: 0 0 7px 20px;
	font-weight: 0;
}
.site-footer__links li a:before {
	float: left;
	content: '';
	width: 2px;
	height: 17px;
	background: #4d3737;
	font-size: 16px;
	left: 0;
	position: absolute;
	top: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.site-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

ul.site-footer__links li {
	float: left;
	width: 100%;
}

.site-footer .address {
	line-height: 26px;
	float: left;
	width: 100%;
}

.p-text {
	margin: 0 0 15px 0;
	font-size: 16px;
}
